@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=IM+Fell+English&display=swap');

nav {
    flex: 1;
    position: relative;
    width: 100%;
    background-color: white;
    z-index: 1;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    padding: 20px 0;
    background-color: black;
    width: 100%;
}

.logo {
    font-family: 'IM Fell English', serif;
    color: whitesmoke;
    text-align: left;
    margin-left: 2%;
    font-size: 34px;
    letter-spacing: -3px;
    flex: 1;
    max-width: 30vw;
    transition: 250ms all;
}

.logo:hover {
    transform: scale(1.004);
}

.links {
    display: flex;
    font-family: 'IM Fell English', serif;
    font-size: 24px;
    max-width: 30vw;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: 20%;
    right: 8%;
}

.link {
  color: #E3DFDF;
  white-space: nowrap;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.link-welcome{
  font-size: large;
  border-color: white;
  color: #E3DFDF;
  padding-left: 20px;
  padding-right: 20px;
  background-color: tomato;
}

a {
    text-decoration: none;
    color: black;
}

/* 
Media Query 
for 
tablet screens 
*/

@media (max-width: 900px){
  /* .links{
flex-direction: column;
font-size: 18px;
width: 100%;
max-width: 50
  } */

  /* .link {
    padding: 3px;
}

.logo {
  max-width: 50%; */

  .links{
    font-size:18px;
  }
}

/* 
Media Query 
for 
medium phone screens 
*/

@media (max-width: 775px) {
    .logo {
        max-width: 50%;
    }
    .links {
    flex-direction: column;
    width: 100%;
    max-width: 50
;
    font-size: 18px;
    }
    .link {
        padding: 3px;
    }
    .link-welcome {
        display: flex;
    }
    .nav {
        padding: 5%;
    }
}

/* 
Media Query 
for 
small phone screens 
*/

@media (max-width: 450px) {
    .nav {
        padding-bottom: 15%;
    }
    .logo {
        display: flex;
       justify-content: flex-end;
    }
}