@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

form {
  font-family: 'Be Vietnam Pro', sans-serif;
}


.book-create-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  margin-top: 5%;
  margin-bottom: 25%;
}

.book-create-header {
  font-family: 'IM Fell English', serif;
  display:flex;
  justify-content: flex-start;
}

.book-create {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.css-0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    margin: 100px;
    font-family: 'Be Vietnam Pro', sans-serif;
  }

.submit-button {
  color:black;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
  font-family: 'Be Vietnam Pro', sans-serif;
}

@media only screen and (max-width: 600px) {
  .book-create {
    width: 95%;
  }
}

/* 
Media Query 
for 
small phone screens 
*/

@media (max-width: 775px) {
  h1 {
    font-size: 400%;
  }

  body {
    width: 100%;
  }

  .App {
    width: 110%;
  }
}

