footer {
  background-color: black;
  position: absolute;
  bottom: 0px;
  display: block;
  width: 100vw;
  padding: 12px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.external-link {
  padding-right: 20px;
}

/* 
Media Query 
for 
medium phone screens 
*/

@media (max-width: 775px) {
    footer {
      width: 100%;
    }
}
