@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=IM+Fell+English&display=swap');

.description {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Fira Code', monospace;
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 500px;
  max-height:700px;
}

.book-detail{
  display: flex;
  justify-content: center;
  margin: 10px
}

.book-detail-img {
  justify-content: flex-start;
  width: 30%;
  height: 50%;
  max-width: 450px;
  max-height:600px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.detail {
  margin: 20px;
  padding: 20px;
}

.title{
  font-size: xx-large;
  font-family: 'Fira Code', monospace;
  margin-bottom: 10px;
  font-size: large;
  font-weight:bolder ;
  font-style: italic;
}

.author{
  font-family: 'Fira Code', monospace;
  margin-bottom: 5px;
  font-weight: bold;
}

.genre{
  font-family: 'Fira Code', monospace;
  margin-bottom: 10px;
  font-weight: bold;
}

@media only screen and (max-width: 675px) {
  .book-detail {
    flex-direction: column;
  }

  .book-detail-img{
    display:flex;
    height:40%;
    width:60%;
  }
}