@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

.description {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Be Vietnam Pro', sans-serif;
  margin-bottom: 5%;
  margin-left: 15%;
  text-align: left;
}

.book-detail{
  display: flex;
  justify-content: center;
  margin: 10px
}

.book-detail-img {
  display: flex;
  justify-content: flex-start;
  width: 30%;
  height: 50%;
  max-width: 340;
  max-height: 500;
  margin-top: 20px;
}

.detail {
  margin: 20px;
  padding: 20px;
  max-width: 500px;
  max-height:700px;
}

.title {
  font-size: xx-large;
  font-family: 'Be Vietnam Pro', sans-serif;
  margin-bottom: 5%;
  font-size: large;
  font-weight:bolder ;
}

.author {
  font-family: 'Be Vietnam Pro', sans-serif;
  margin-bottom: 5%;
}

.genre {
  font-family: 'Be Vietnam Pro', sans-serif;
  margin-bottom: 5%;
  text-align: left;
  margin-left: 15%;
}

.edit-button {
  display: flex;
  justify-content: center;
  margin-left: 5%;
}
