@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

.description {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Be Vietnam Pro', sans-serif;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 500px;
  max-height:700px;
  text-align: left;
}

.book-detail{
  display: flex;
  justify-content: center;
  margin: 10px;
  align-items: center;

}

.book-detail-img {
  justify-content: flex-start;
  width: 30%;
  height: 50%;
  max-width: 450px;
  max-height:600px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.detail {
  margin: 20px;
  padding: 20px;
}

.title {
  font-family: 'Be Vietnam Pro', sans-serif;
  margin-bottom: 10px;
  font-size: large;
  font-weight:bolder ;
  font-style: italic;
  text-align: left;
}

.author {
  font-family: 'Be Vietnam Pro', sans-serif;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
}

.genre {
  font-family: 'Be Vietnam Pro', sans-serif;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
}

.edit-button {
  display: flex;
  justify-content: center;
  color: black;
  margin-top: 10px;
}

@media only screen and (max-width: 775px) {
  .book-detail {
    flex-direction: column;
    margin-left: 0px;
  }

  .book-detail-img{
    display:flex;
    height:40%;
    width:60%;
  }

  .description{
    margin: 0px;
  }
}