@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=IM+Fell+English&display=swap');

.book-reviews-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.372);
}

.book-reviews {
  display: flex;
  justify-content: center;
  flex-direction: row;
  
}

.staff-picks {
  display: block;
  font-family: 'IM Fell English', serif;
  margin-left: 10%;
}

.book-1 {
  display: flex;
  padding: 30px 150px 30px 30px
}

.book-2 {
  display: flex;
  padding: 30px 
}

.book-1 img {
  width: 200px;
  height: 300px;
}

.book-2 img {
  width: 200px;
  height: 300px;
}

.book-1-p {
  width: 190px;
  height: 252px;
  font-size: large;
  border: #CED4DA solid 2px;
  padding: 50px 15px 20px 15px;
  margin: 50px 0px 0px 0px;
  background-color: white;
}

.book-2-p {
  width: 200px;
  height: 300px;
  font-size: large;
  border: #CED4DA solid 2px;
  padding: 20px 15px 0px 15px;
  margin: 50px 0px 0px 0px;
  background-color: white;
}

@media only screen and (max-width: 600px) {
  .book-reviews {
    display:block;
    margin-left: auto;
    margin-right: auto 
  }

  .book-1 {
    width: 100%;
  }
  .book-2 {
    width: 100%;
  }

  .book-1 img {
    width: 100px;
    height: 150px;
  }

  .book-2 img {
    width: 100px;
    height: 150px;
  }

  .book-1-p {
      width: 180px;
      height: 220px;
      font-size: small;
      border: #CED4DA solid 2px;
      padding: 10px 15px 20px 15px;
      margin: 50px 0px 0px 0px;

  }
  
  .book-2-p {
    width: 180px;
    height: 330px;
    font-size: small;
    border: #CED4DA solid 2px;
    padding: 10px 15px 0px 15px;
    margin: 50px 0px 0px 0px;
  }

  .staff-picks {
    padding-top: 30px;
  }
}