h1 {
	font-family: 'IM Fell English', serif;
	background-color: rgba(0, 0, 0, 0.5);
	color: whitesmoke;
	font-size: 700%;
	margin: 0 auto;
	padding: 10%;
}

.join-button {
  margin-bottom:30px;
  color:black;
  width: 150px;
}